body{
  color: #40414E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 5px 0
}
a{
  color: #11999E;
}
hr {
    border: 7px dotted #E4F9F5;
    border-bottom: none;
    width: 4%;
    margin-bottom: 5rem;
}
.top_container {
  background:#E4F9F5;
  position: relative;
  padding-top: 100px

}

.middle_container{
  height: 200px;
  width: 200px;
  background: red;
}

.bottom_container{
  height: 200px;
  width: 200px;
  background: green;
}
.intro {
  color:  #40514E;
  width: 35%;
  margin: 0 auto 7rem auto;
  line-height: 2;
  font-family: 'Merriweather',serif;
}

.buttom-cloud{
  position: absolute;
  top: 400px;
  left: 250px;
}
.top-cloud{
  position: absolute;
  top: 40px;
  right: 300px;
}
.profile_image{
  width: 15%;
  margin-top: 4rem;
}
.design_image{
  width: 25%;
  float: left;
  margin: 4rem 30px 2rem 0;
  border-radius: 100%;
}
.time_image{
  width: 25%;
  float: right;
  margin-top: 2rem;
  margin-left: 30px;

}
.skill-row{
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.get_in_touch{
  width: 30%;
  margin: 40px auto 60px;
  line-height: 2;
}

.BUTTON_WFC {
   margin: 1rem 0 5rem 0;
   background: #11999E;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: 'Montserrat',sans-serif;
   font-size: 16px;
   font-weight: 275;
   padding: 12px;
   height: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_WFC:hover {
   border: solid #66BFBF 1px;
   background: #66BFBF;
}
.bottom-container{
  background:  #66BFBF;
  margin-bottom: 0;
  padding: 3rem 0 2rem 0;

}
.copy-right{
  margin-top: 2rem;
  font-size: 0.75rem;
  color:  #EAF6F6;
}
.footer-link{
  font-family: 'Montserrat',sans-serif;
  padding: 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

/* Sliderr*/
.post_slider{
	position: relative;
}
.post_slider .slider_title{
	text-align: center;
	margin: 25px auto;
	font-size: 2.5em;
}
.post_slider .post_wrapper{
	width:85%;
	margin: 0px auto;
    overflow: hidden;
	padding: 10px 0 10px 0;
}
.post_slider .post_wrapper .post{
	width: 40%;
	height:330px;
	margin: 0 0.2% 2% 0%;
  border-color: #ff6634;
  border-width: 20px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1rem 1rem 1rem -1rem #065555;
    background: #E4F9F5;
}
.post_slider .post_wrapper .post .slider_image{
	width: 100%;
	height:200px; 
    border-radius: 5px;
}
.post_slider .post_wrapper .post .post-brief{
	 padding: 0em 1em 0em 1em;
}
.post_slider .post_wrapper .post a{
	text-decoration: none;
	color: #66BFBF;
}
.post_slider .post_wrapper .post a:hover{
	 	color: grey;
}
 /* // Slider*/
 .cvlogo {
  text-decoration: none;
	color: #66BFBF;
  width: 40%;
	height:130px;
	margin: 0 0.2% 2% 0%;
  border-color: #ff6634;
  border-width: 20px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1rem 1rem 1rem -1rem #065555;
    background: #E4F9F5;
 }
 .testcase {
  text-decoration: none;
	color: #66BFBF;
  width: 40%;
	height:130px;
	margin: 0 0.2% 2% 0%;
  border-color: #ff6634;
  border-width: 20px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1rem 1rem 1rem -1rem #065555;
    background: #E4F9F5;
 }